version: '2.1'
jobs:
  build:
    docker:
      - image: circleci/node:11

    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-cache-{{ checksum "package-lock.json" }}
            - v2-deps-cache-
      - run: npm ci
      - save_cache:
          key: v2-deps-cache-{{ checksum "package-lock.json" }}
          paths:
            - "$HOME/.npm"
      - run: npm run test
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "deploying!!!"
              ./deploy.sh
            fi

workflows:
  version: 2
  the-workflow:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
