:global(.shift-down .copy-target):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

:global(.shift-down .copy-source):hover {
  border: 1px solid green;
  background-color: rgba(255, 255, 255, 0.1);
}

.RecipePart {
}
