body {
    font-family: 'Titillium Web', sans-serif;
    // font-size: 28px;
    line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
    // color: #FFE6C0;
}

h1 { 
    font-size: 32px;
}

/*
input {
    background-color: rgb(142, 142, 142);
    border: 1px solid black;
    border-radius: 5px;


    &:hover {
        background-color: rgb(227, 152, 39);
    }

    .press {
    }

    &:focus {
        background-color: rgb(240, 218, 180);
    }
}
*/
