body {
    font-family: 'Titillium Web', sans-serif;
    // font-size: 28px;
    line-height: 32px;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFE6C0;
}

h1 {
    font-size: 32px;
}

.form-control {
    background-color: rgb(142, 142, 142);
    border: 1px solid rgb(142, 142, 142);
    // border-radius: 5px;


    &:hover {
        background-color: rgb(227, 152, 39);
    }

    .press {
    }

    &:focus {
        background-color: rgb(240, 218, 180);
    }
}

.btn-cancel {
    background-color: #FE5A5A;
    color: black;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;

    &:hover {
        background-color: #FF9B9B;
    }

}


.btn-group {
  > .btn:first-child {
    margin-left: 0;
  }

  // Reset rounded corners
  > .btn:not(:last-child),
  > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
}
