html, body {
    background-color: #313031;
    height: 100%;
    color: white;
}

#root > .container {
    padding-top: 1.5rem;
}

.card {
    background-color: #403F40;
}

.recipe-group {
    hr {
        border-top: 1px solid black;
    }
}

.recipe-row {
    // margin: 5px;
    b {
        font-weight: 600;
    }
}

.game-icon {
    // background-color: #aaa;
    margin: 1px;
}

.well {
    display: table;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    // background-color: #403f40;
}

.recipe-picker {
    .recipe-tooltip {
        display: inline-block;
    }
}

.btn-icon-wrapper {
    .btn {
        line-height: 32px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.combined-totals {
    .container {
        padding: 0 .25rem;
    }

}
