html,
body {
    height: 100%;
}

#root > .container {
    padding-top: 1.5rem;
}

.crashed {
    padding: 1rem;
    pre {
        color: white;
    }
}

.card {
    background-color: #403f40;
}

.recipe-group {
    hr {
        border-top: 1px solid black;
    }
}

.recipe-row {
    // margin: 5px;
    b {
        font-weight: 600;
    }
}

.game-icon {
    // background-color: #aaa;
    margin: 1px;
}

.well {
    display: table;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    // background-color: #403f40;
}

.recipe-picker {
    .recipe-tooltip {
        display: inline-block;
    }

    .result-name {
        max-width: 30rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.btn-icon-wrapper {
    .btn {
        line-height: 32px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.combined-totals {
    .container {
        padding: 0 0.25rem;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.recipe-picker .table-hover td {
    cursor: pointer;
}
