html, body {
    background-color: #313031;
    height: 100%;
    color: white;
}

.card {
    background-color: #403F40;
}

.recipe-row {
    margin: 5px;
}

.game-icon {
    // background-color: #aaa;
    margin: 1px;
}

.well {
    display: table;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    // background-color: #403f40;
}

.recipe-picker {
    .recipe-tooltip {
        display: inline-block;
    }
}
